---
layout: archive
permalink: /blog/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
  - /year-archive/
---

{% include base_path %}

<div class="blogroll">
  <div class="blogroll__toolbar">
    <a class="blogroll__feed-btn" href="{{ base_path }}/feed.xml">
      <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i>
      Feed
    </a>
  </div>

  {% assign written_year = "" %}
  {% for post in site.posts %}
    {% assign year = post.date | date: "%Y" %}
    {% if year != written_year %}
      {% unless written_year == "" %}
        </ul>
      </section>
      {% endunless %}
      <section class="blogroll__year" aria-labelledby="year-{{ year }}">
        <h2 id="year-{{ year }}" class="blogroll__year-heading">{{ year }}</h2>
        <ul class="blogroll__list">
      {% assign written_year = year %}
    {% endif %}
    {% include blogroll-item.html %}
  {% endfor %}
  {% if written_year != "" %}
        </ul>
      </section>
  {% endif %}
</div>
